<h2>Vehicles</h2>

<label for="makeSelect"></label>
<select class="form-control" id="makeSelect" (change)="onMakeChange()" [(ngModel)]="selectMake">
  <option [ngValue]="0" selected>All Makes</option>
  <option [ngValue]="m.id" *ngFor="let m of makes">{{m.name}}</option>
</select>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">
      id
    </th>
    <th scope="col" (click)="onClickMake()">
      Make
      <fa-icon *ngIf="makeOrder" [icon]="setSortIcon(makeOrder)"></fa-icon>
    </th>
    <th scope="col" (click)="onClickModel()">
      Model
      <fa-icon *ngIf="modelOrder" [icon]="setSortIcon(modelOrder)"></fa-icon>
    </th>
    <th scope="col" (click)="onClickContactName()">
      Contact Name
      <fa-icon *ngIf="contactNameOrder" [icon]="setSortIcon(contactNameOrder)"></fa-icon>
    </th>
    <th scope="col">View</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let v of tableVehicles">
    <th scope="row">{{v.id}}</th>
    <td>{{v.make.name}}</td>
    <td>{{v.model.name}}</td>
    <td>{{v.contact.name}}</td>
    <td>
      <a [routerLink]="['/vehicles', v.id]">
        Edit
      </a>
    </td>
  </tr>
  </tbody>
</table>
